# Dependencies
**/node_modules
/.pnp
.pnp.js

# Testing
**/coverage

# Production
**/build
**/dist

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
tmp*
*.local

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.iws


# IaC
**/.terraform
**/.terraform.lock.hcl
**/tf.plan
**/tf.plan.json
**/terraform.tfstate
**/terraform.tfstate.backup


# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz
