# Dependencies
**/node_modules
/.pnp
.pnp.js

# Testing
**/coverage

# Production
.version
build
**/dist

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
tmp*
*.local

# IDE - VSCode
**/.devcontainer.json
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/run.sh
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/
*.iml
*.iws


# IaC
**/.terraform
**/.terraform.lock.hcl
**/tf.plan
**/tf.plan.json
**/terraform.tfstate
**/terraform.tfstate.backup

# Docker
docker/dependencies/fs-root/workspace/deno.lock

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history
